
header {
    font-size: 18px;
    line-height: 20px;
    background-color: #fff;
    grid-column: 1 / span 2;
    border-bottom: 1px solid #ddd;
    display: grid;
    overflow: visible;
    padding: 5px 10px;
    grid-template-columns: auto 1fr auto;
}

header .brand a {
    font-size: 18px;
}

header .end {
    text-align: right;
}

header .end a.login {
    background-color: #4aac59;
    border: 1px solid #00000033;
    color: #fff;
    border-radius: 2px;
    align-self: stretch;
    margin: 6px 8px;
    padding: 7px 10px;
}

header div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header a {
    padding: 10px 10px 7px 10px;
    text-decoration: none;
    display: block;
    color: #000;
}

header a:hover {
    background-color: #efefef;
    border-radius: 5px;
}
